    body {
        font-family: arial;
        background-color: #b9b3af;
        color: white;
    }
    h1 {
        font-size: 250%;
    }
    h2 {
        font-size: 150%;
    }
    h3 {
        font-size: 115%;
    }
    p {
        font-size: medium;
    }
    #div1 {

    }
    #div2 {
        
    }   
