body {
    font-family: arial;
    background-color: #ac5181;
    color: white;
    margin: 5px;
}
h1 {
    font-size: 300%;
}
h2 {
    font-size: 210%;
}
h3 {
    font-size: 160%;
}
p {
    font-size: 120%;
}
#ul1 {
    font-size: 120%;
}
#ul2 {
    font-size: 100%;
}
#ul3 {
    font-size: 85% ;
    list-style-type: disc;
}
#ol1 li {
    font-size: 120% !important;
}
#principal img{
    width: 1550px;
    margin: 0%;
    
}
#div2 {
    margin-right: 25px;
}

#contato1 {
    background: red;
    border: 1px;
    margin: 10px;
    float: left;
}    
#contato2 {
    background: blue;
    border: 1px;
    margin: 10px;
    float: right;
} 

header {
    background-color: #88265a;
    box-shadow: 0px 3px 10px #020202;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    font-size: 140%;
}

.menu li a:hover {
    background-color: #f081ce;
    padding: 20px;
    font-size: 25px;
    border-radius: 5px;
}
